*{
    box-sizing: border-box;
}
html {
    font-family: 'Roboto Bold';
}
@font-face {
    font-family: 'Roboto Regular';
    src: local('Roboto');
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Bold';
        src: local('Roboto');
        src: url('../fonts/Roboto-Bold.eot');
        src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

@font-face {
    font-family: 'Philosopher Regular';
    src: local('Philosopher');
    src: url('../fonts/Philosopher.eot');
    src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

body {
    background-color: #FFE2B0;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin-right: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background: url(../img/bg-1.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    position: absolute;
    left: 50%;
    top: 54%;
    padding-top: 15px;
}

.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid #000000;
    margin: 0px auto; 
    /* margin для блочных
        text-align - для строчных
    */
    padding: 17px 0px 0px 28px;
    text-align: left;
}

.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher Regular';
}

.section-about__text {
    font-size: 12px;
    margin: 0;
    font-size: 'Roboto Regular';
}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;
}

.section-description__icon-box img {
    margin-right: 76px;
    
}

.section-description__icon-box img:last-child {
    margin-right: 0;
}

.section-description__title {
    font-size: 96px;
    margin: 0;
    text-align: center;
}

.red-span {
    color:#F15B40;
}

.section-description__text {
    width: 1000px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Regular';
}

/* .section-map {

} */

.section-map {
    margin-bottom: 20px;
}

.section-map__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Philosopher Regular';
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    width: 1024px;
    border-top: 1px solid #999999;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}